@{
    ViewData["Title"] = "Conteúdo da Aula " + ViewBag.AulaId;
}


<!-- Conteúdo estático para cada aula -->
@switch (ViewBag.AulaId)
{
    case 1:
        <h1>Aula 1 - Disposições gerais</h1>
        <h2>Capítulo I — Princípios gerais</h2>
        <h4>Artigo 1.º — Definições legais</h4>
        <br />
        <p>
            Para os efeitos do disposto no presente Código e legislação complementar, os termos seguintes têm o significado que lhes é atribuído neste artigo: <br /><br />

            a) «Autoestrada» - via pública destinada a trânsito rápido, com separação física de faixas de rodagem, sem cruzamentos de nível nem acesso a propriedades marginais, com acessos condicionados e sinalizada como tal;<br />
            b) «Berma» - superfície da via pública não especialmente destinada ao trânsito de veículos e que ladeia a faixa de rodagem;<br />
            c) «Caminho» - via pública especialmente destinada ao trânsito local em zonas rurais;<br />
            d) «Corredor de circulação» - via de trânsito reservada a veículos de certa espécie ou afetos a determinados transportes;<br />
            e) «Cruzamento» - zona de intersecção de vias públicas ao mesmo nível;<br />
            f) «Eixo da faixa de rodagem» - linha longitudinal, materializada ou não, que divide uma faixa de rodagem em duas partes, cada uma afeta a um sentido de trânsito;<br />
            g) «Entroncamento» - zona de junção ou bifurcação de vias públicas;<br />
            h) «Faixa de rodagem» - parte da via pública especialmente destinada ao trânsito de veículos;<br />
            i) «Ilhéu direcional» - zona restrita da via pública, interdita à circulação de veículos e delimitada por lancil ou marcação apropriada, destinada a orientar o trânsito;<br />
            j) «Localidade» - zona com edificações e cujos limites são assinalados com os sinais regulamentares;<br />
            l) «Parque de estacionamento» - local exclusivamente destinado ao estacionamento de veículos;<br />
            m) «Passagem de nível» - local de intersecção ao mesmo nível de uma via pública ou equiparada com linhas ou ramais ferroviários;<br />
            n) «Passeio» - superfície da via pública, em geral sobrelevada, especialmente destinada ao trânsito de peões e que ladeia a faixa de rodagem;<br />
            o) «Pista especial» - via pública ou via de trânsito especialmente destinada, de acordo com sinalização, ao trânsito de peões, de animais ou de certa espécie de veículos;<br />
            p) «Rotunda» - praça formada por cruzamento ou entroncamento onde o trânsito se processa em sentido giratório e sinalizada como tal;<br />
            q) «Utilizadores vulneráveis» - peões e velocípedes, em particular, crianças, idosos, grávidas, pessoas com mobilidade reduzida ou pessoas com deficiência;<br />
            r) «Via de abrandamento» - via de trânsito resultante do alargamento da faixa de rodagem e destinada a permitir que os veículos que vão sair de uma via pública diminuam a velocidade já fora da corrente de trânsito principal;<br />
            s) «Via de aceleração» - via de trânsito resultante do alargamento da faixa de rodagem e destinada a permitir que os veículos que entram numa via pública adquiram a velocidade conveniente para se incorporarem na corrente de trânsito principal;<br />
            t) «Via de sentido reversível» - via de trânsito afeta alternadamente, através de sinalização, a um ou outro dos sentidos de trânsito;<br />
            u) «Via de trânsito» - zona longitudinal da faixa de rodagem destinada à circulação de uma única fila de veículos;<br />
            v) «Via equiparada a via pública» - via de comunicação terrestre do domínio privado aberta ao trânsito público;<br />
            x) «Via pública» - via de comunicação terrestre afeta ao trânsito público;<br />
            z) «Via reservada a automóveis e motociclos» - via pública onde vigoram as normas que disciplinam o trânsito em autoestrada e sinalizada como tal;<br />
            aa) «Zona de estacionamento» - local da via pública especialmente destinado, por construção ou sinalização, ao estacionamento de veículos;<br />
            bb) «Zona de coexistência» - zona da via pública especialmente concebida para utilização partilhada por peões e veículos, onde vigoram regras especiais de trânsito e sinalizada como tal.<br />
        </p>
        break;
    case 2:
        <p>Conteúdo da Aula 2...</p>
        break;
    // Adicione mais casos conforme necessário
    default:
        <p>Conteúdo não disponível para esta aula.</p>
        break;
}

<a asp-action="Index">Back to List</a>