@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à eDrive,</h1>
    <h2 class="display-6">a plataforma de apoio à Escola de Condução</h2>
    <img src="https://www.pngplay.com/wp-content/uploads/13/Renault-CLIO-PNG-HD-Quality.png" />
</div>


@if (User.IsInRole("Admin"))
{
    <h1>Hello Admin</h1>
} else if (User.IsInRole("Aluno"))
{
    <h1>Hello Aluno</h1>
}
else if (User.IsInRole("Instrutor"))
{
    <h1>Hello Instrutor</h1>
}
else if (User.IsInRole("Secretaria"))
{
    <h1>Hello Secretaria</h1>
}
else
{
    <h1>Hello User</h1>
}