@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<p>App desenvolvida por: <br />João Correia, 21302 <br /><br />Desenvolvimento Web<br /><br />2024/2025<br /><br />Licenciatura em Engenharia Informática<br /><br />Instituto Politécnico de Tomar</p>
