@model eDrive3.Models.Instrutor

<h2>Perfil do Instrutor</h2>
<img src="@Model.FotoUrl" alt="Foto" width="150" />
<p><b>Nome:</b> @Model.Name</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Telemóvel:</b> @Model.NrTelemovel</p>
