@model eDrive3.Models.Secretaria

<h2>Perfil da Secretaria</h2>
<img src="@Model.FotoUrl" alt="Foto" width="150" />
<p><b>Nome:</b> @Model.Nome</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Telemóvel:</b> @Model.NrTelemovel</p>